[Unit]
Description=Todo service

[Service]
Environment=REDIS_HOST=172.31.152.80
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target