[Unit]
Description=Todo service

[Service]
Environment=REDIS_HOST=192.168.0.35
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target