[Unit]
Description=Todo service

[Service]
Environment=REDIS_HOST=redis-{{ENV}}.zsdevtraining.online
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target